*{
    
    padding: 0;
    margin: 0;
}
header{
    background-color: black;
    padding: 40px;
    color: aliceblue;
}
nav{
    padding: 20px;
    background-color: gray;
}
nav a{
    padding: 30px;

}
main{
    display: flex;
}