@import url('https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

/*-------------------------Header Begin------------------------------*/
/*--h1--*/
header h1{
    text-align: center;
    padding: 20px;
    font-family: "platypi";
    background-color: gray;
}

/*--Nav Bar--*/
nav{
    background-color: rgb(26, 26, 75);
    margin: 0;
    
}
nav ul{
    list-style-type: none;
}
nav a {
    display: block;
    color: white ;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    font-size: 23px
}
nav a:hover{
    color: yellow;
    font-weight: bolder;
}

@media(min-width:640px){
    nav ul{
        display: flex;
    }
    nav ul li {
        flex: 1 1 100%;
    }
}
span{
    font-size: 30px ;
    color: yellow;
    font-family: "platypi";
    
}

/*------------------------Header End---------------------------------*/






/*-------------------------Main start------------------------------*/
main{
    display: flex;
    padding: 20px;
    
}
.secundTitle{ 
    font-family: "platypi";
    padding: 10px;
    background-color: gray;
    border-radius: 15px 15px 0 0;
}
.aboutMe{
    padding: 20px;
    
   
}
section{
    width: 60%;
    border-radius: 20px;
    margin-right: 20px;
    border: solid 1px gray;
    background-color: white;
}
.WebResources{
    width: 40%;
    border-radius: 20px;
    border: solid 1px gray;
    
}
aside li{
    font-size: 20px;
    padding: 15px;
    text-decoration: none;
    list-style-type: none;
    
    
}

/*---About me Inside---*/
.imgAndMe{
    display: flex;
    padding: 10px;
    
}
.myself{
    
    border: 1px solid gray;
    margin: 10px;
}
.country{
    display: flex;
    padding: 10px;
}
/*---About me Inside end---*/

/*---Aside Web and Dev---*/
aside a {
    text-decoration: none;
    color: black;
}
aside a:hover{
    color: yellow;
    font-weight: bolder;
}
/*---Aside Web and Dev end---*/

/*-------------------------Main End  ------------------------------*/

/*-----------------------Footer begin--------------------------------*/
footer{
    background-color: rgb(26, 26, 75);
    padding: 40px;
    color: white;
}
footer p{
    margin-bottom: 10px;
    text-align: center;
}

/*------------------------Footer Ends-------------------------------*/